body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
header {
    background-color: aquamarine;
}
nav {
    max-width: 990px;
    margin: 0 auto;
    border: solid 1px #000;
    padding: 10px;
    display: flex;
}
.resumoOpcoes{
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.redesSociais{
    flex-direction: row;
    align-items: center;
}
